{% extends 'venuesbasedleantest/base.html' %}

{% block css %}
    <style type="text/css">
        .page-header h1 {
            font-family: "Montez",cursive;
            font-size: 100px;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="container" style="margin-top: 10%">
        <div class="page-header">
            <h1> <i class="fa fa-instagram hidden-xs" style="position: relative; top: 10px;"></i> College Creeper</h1>
        </div>

        <div class="list-group">
            <a class="list-group-item" href="{% url venuesbasedleantest_college 'fdu' %}">
                <i class="fa fa-arrow-circle-right fa-2x pull-right text-primary"></i>
                <h4 class="list-group-item-heading">FDU</h4>
            </a>
            <a class="list-group-item" href="{% url venuesbasedleantest_college 'msu' %}">
                <i class="fa fa-arrow-circle-right fa-2x pull-right text-primary"></i>
                <h4 class="list-group-item-heading">MSU</h4>
            </a>
        </div>

        <hr/>

        <p class="text-center">
            Want College Creeper to creep over your college?<br/>
            <a href="{% url venuesbasedleantest_suggest_a_college %}"><i class="fa fa-comment"></i> suggest a college</a>
        </p>

    </div>

{% endblock %}